table {
	.heading-cell {
		padding-bottom: 0.5rem;
		border-bottom: 2px solid var(--main);
	}

	.heading-row + * td {
		padding-top: 1rem;
	}

	h2 {
		font-weight: 300;
	}

	.data-group h3 {
		font-weight: 400;
	}

	.data-group {
		text-align: center;
	}

	.data-group .img-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-width: 20px;
	}

	td:has(.row-weather-icon) {
		min-width: 4rem;
	}

	.row-weather-icon {
		width: 4rem;
		height: 4rem;
	}
}
