:root {
	--light: hsl(0deg 0% 90%);
	--dark: hsl(0deg 0% 20%);
	--secondary: hsl(0deg 0% 50%);
	--glass: hsl(0deg 0% 100% / var(--glass-alpha));

	--main: var(--dark);

	--shadow: 2px 2px 5px 2px #00000030;
	--drop-shadow: 2px 2px 2px #00000030;
	--glass-alpha: 10%;
}

body[data-theme="dark"] {
	--main: var(--light);
	--glass: hsl(0deg 0% 0% / var(--glass-alpha));
}

body {
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
	background-image: url(../images/clear-day.jpg);
	color: var(--main);
	font-family: "Inter", sans-serif;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.15;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

main {
	width: 80vw;
	height: 80vh;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.current-data {
	display: flex;
	align-items: center;
	gap: 1rem;

	.column {
		gap: 0.5rem;
	}
}

.weather-icon {
	flex-shrink: 0;
	width: 4rem;
	height: 4rem;
}

.current-datetime {
	margin-left: auto;
	align-items: flex-end;
}

.input-section {
	display: flex;
	width: 100%;
	gap: 2rem;
}

.search-input {
	flex: 1;
	padding: 1.5rem 2rem;
	border-radius: 9999px;
	border: none;
	box-shadow: var(--shadow);
	outline: none;
	&::placeholder {
		color: var(--secondary);
	}
}

.search-button {
	background: none;
	padding: 0;
	border: none;
	cursor: pointer;

	img {
		filter: drop-shadow(var(--drop-shadow));
	}
}

.forecast-data {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 1;
	padding: 2rem;
	gap: 2rem;
	border-radius: 1rem;
	background: var(--glass);
	backdrop-filter: blur(1rem);
}

nav {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

button {
	color: inherit;
}

.hours-button, .days-button {
	background: none;
	border: none;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	padding: 0;

	&.selected {
		border-color: var(--main);
	}
}